@page "/CreateEmailTemplate"
@using Blazored.TextEditor
<CascadingAuthenticationState>
    <AuthorizeView Roles="ApplicationAdmin, SuperAdmin" Context="authContext">
        <Header></Header>
        <MudCard>
            <MudForm Model="@_model" @ref="@_form" Validation="@(_validator.ValidateValue)" ValidationDelay="0">
                <MudCardContent>
                    <MudTextField @bind-Value="_model.Name"
                                  For="@(() => _model.Name)"
                                  Immediate="true"
                                  Label="Name"/>
                    <MudTextField @bind-Value="_model.Subject"
                                  For="@(() => _model.Subject)"
                                  Immediate="true"
                                  Label="Subject"/>
                    <label>Text:</label>
                    <br>
                    <BlazoredTextEditor @ref="@_quillHtml">
                        <ToolbarContent>
                            <span class="ql-formats">
                                <select class="ql-font">
                                    <option selected=""></option>
                                    <option value="serif"></option>
                                    <option value="monospace"></option>
                                </select>
                                <select class="ql-size">
                                    <option value="small"></option>
                                    <option selected=""></option>
                                    <option value="large"></option>
                                    <option value="huge"></option>
                                </select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-indent" value="-1"></button>
                                <button class="ql-indent" value="+1"></button>
                                <select class="ql-align">
                                    <option selected=""></option>
                                    <option value="center"></option>
                                    <option value="right"></option>
                                    <option value="justify"></option>
                                </select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </ToolbarContent>
                        <EditorContent>

                        </EditorContent>
                    </BlazoredTextEditor>
                    <MudInput @bind-Value="@_imageLinkToInsertToEditor"/>
                    <ProgressTaskButton Variant="Variant.Filled" Color="Color.Primary"
                                        Function="InsertImage"> Insert image
                    </ProgressTaskButton>
                </MudCardContent>
            </MudForm>
            <MudCardActions>
                <ProgressTaskButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" Function="@(async () => await Submit())">Create</ProgressTaskButton>
            </MudCardActions>
        </MudCard>
    </AuthorizeView>
</CascadingAuthenticationState>