@page "/UserProfile/{Username}"
<Header/>
<CascadingAuthenticationState>
    <AuthorizeView Roles="Reviewer, ApplicationAdmin, SuperAdmin">
        <Authorized Context="authContext1">

            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Icon="@Icons.Material.Filled.Person" Text="Personal information">
                    <MudGrid>
                        <MudItem lg="4" md="6" sm="12">
                            <MudText Typo="Typo.h6">
                                @Username
                            </MudText>
                            <style>
                							td {
                								vertical-align: top;
                								text-align: left;
                								padding-bottom: 0;
                							}
                						</style>
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="width:25px;"> </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>@ContentService["Profile:FirstName"]:</td>
                                    <td></td>
                                    <td>@_personalData.FirstName</td>
                                </tr>
                                <tr>
                                    <td>@ContentService["Profile:LastName"]:</td>
                                    <td></td>
                                    <td>@_personalData.LastName</td>
                                </tr>
                                <tr>
                                    <td>@ContentService["SignUp:Email"]:</td>
                                    <td></td>
                                    <td>
                                        @_personalData.Email<br/>
                                        @if (_personalData.EmailConfirmed)
                                        {
                                            <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Check">@ContentService["Profile:Confirmed"]</MudChip>
                                        }
                                        else
                                        {
                                            <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Filled.Warning">@ContentService["UserRoles:UnConfirmed"]</MudChip>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>@ContentService["ResetPassword:PhoneNumber"]:</td>
                                    <td></td>
                                    <td>
                                        @_personalData.PhoneNumber<br/>
                                        @if (_personalData.PhoneNumberConfirmed)
                                        {
                                            <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Success" Icon="@Icons.Material.Filled.Check">@ContentService["Profile:Confirmed"]</MudChip>
                                        }
                                        else
                                        {
                                            <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Warning" Icon="@Icons.Material.Filled.Warning">@ContentService["UserRoles:UnConfirmed"]</MudChip>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>@ContentService["Profile:DateOfBirth"]:</td>
                                    <td></td>
                                    <td>@_personalData.DateOfBirth.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <td>@ContentService["UserRoles:Gender"]:</td>
                                    <td></td>
                                    <td>@_personalData.Gender</td>
                                </tr>
                                <tr>
                                    <td>@ContentService["Profile:AboutMyself"]:</td>
                                    <td></td>
                                    <td>@_personalData.AboutMyself</td>
                                </tr>
                                </tbody>
                            </table>

                        </MudItem>

                        <MudItem lg="4" md="6" sm="12">
                            <MudText Typo="Typo.h6">Experiences</MudText>
                            @if (_experiences == null)
                            {
                                <MudSkeleton Animation="Animation.Wave" Width="40%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="60%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="30%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="50%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="80%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="60%"/>
                            }
                            else
                            {
                                <MudGrid>
                                    @foreach (var experience in _experiences)
                                    {
                                        <MudItem xs="12">
                                            <MudDivider/>
                                            <MudText>
                                                <b>@experience.JobTitle</b>
                                            </MudText>
                                            <MudText>@experience.CompanyName</MudText>
                                            <MudText>
                                                @if (experience.IsCurrentJob)
                                                {
                                                    @: @experience.StartDate?.ToString("MM/dd/yyyy") - Is Current Job;
                                                }
                                                else
                                                {
                                                    @: @experience.StartDate?.ToString("MM/dd/yyyy") - @experience.EndDate?.ToString("MM/dd/yyyy");
                                                }
                                            </MudText>
                                            <MudText Typo="Typo.body2">
                                                @experience.Address
                                            </MudText>
                                            <MudText Typo="Typo.body2">
                                                @experience.Description
                                            </MudText>
                                        </MudItem>
                                    }
                                </MudGrid>
                            }
                        </MudItem>

                        <MudItem lg="4" md="6" sm="12">

                            <MudText Typo="Typo.h6">
                                Educations
                            </MudText>

                            @if (_educations == null)
                            {
                                <MudSkeleton Animation="Animation.Wave" Width="40%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="60%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="30%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="50%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="80%"/>
                                <MudSkeleton Animation="Animation.Wave" Width="60%"/>
                            }
                            else
                            {
                                <MudGrid>
                                    @foreach (var education in _educations)
                                    {
                                        <MudItem xs="12">
                                            <MudDivider/>
                                            <MudText>
                                                <b>@education.Speciality</b>
                                            </MudText>
                                            <MudText>@education.University</MudText>
                                            <MudText>
                                                @if (education.UntilNow)
                                                {
                                                    @:@education.StartDate?.ToString("MM/dd/yyyy") - Until Now
                                                }
                                                else
                                                {
                                                    @:@education.StartDate?.ToString("MM/dd/yyyy") - @education.EndDate?.ToString("MM/dd/yyyy")
                                                }
                                            </MudText>
                                        </MudItem>
                                    }
                                </MudGrid>
                            }

                        </MudItem>

                        <MudItem lg="4" md="6" sm="12">

                            <MudText Typo="Typo.h6">
                                <b>@ContentService["Profile:Skills"]</b>
                            </MudText>

                            @if (_userSkills.Skills != null)
                            {
                                foreach (var skill in _userSkills.Skills)
                                {
                                    <MudChip>@skill</MudChip>
                                }
                            }
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>

                <AuthorizeView Roles="SuperAdmin">
                    <Authorized Context="authContext2">
                        <MudTabPanel Icon="@Icons.Material.Filled.List" Text="Assign Role">
                            <MudText Typo="Typo.h6">
                                <b>Assign role for current user</b>
                            </MudText>

                            <MudStack Row="true">
                                <MudSelect T="string" Label="@ContentService["UserManager:Roles"]" @bind-Value="NewRoleName" Variant="Variant.Outlined">
                                    @if (_roleNames != null)
                                    {
                                        @foreach (var role in _roleNames)
                                        {
                                            <MudSelectItem T="string" Value="role.Slug">@role.Name</MudSelectItem>
                                        }
                                    }
                                </MudSelect>
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" OnClick="@OnAddClick"/>

                            </MudStack>
                            <br/>
                            <MudTable Items="@UserRoles" Dense="true" Hover="true" Breakpoint="@Breakpoint.None">
                                <RowTemplate>
                                    <MudTd Style="width:100%">@context.RoleName</MudTd>
                                    <MudTd Style="width:auto">
                                        <MudIconButton @onclick="() => OnDeleteClick(context.Slug)" Icon="@Icons.Material.Filled.Delete" Color="Color.Error"></MudIconButton>
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>

                        </MudTabPanel>
                    </Authorized>
                    <NotAuthorized></NotAuthorized>
                </AuthorizeView>
            </MudTabs>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>